section {
	height: 100vh;
	width: 100%;
}

section img {
	width: 100vw;
	/* overflow: hidden; */
}
/*--------------------------------*/

.topSection {
	position: relative;
	text-align: center;
	overflow: hidden;
	background-color: #151515;
}

.topSection div {
	position: absolute;
}

/*--------------------------------*/

.middleSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

.middleSection div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 40%;
	line-height: 1.3rem;
}

.middleSection img,
.middleSection div {
	height: auto;
	margin: 2rem;
}

.middleSection img {
	width: 35%;
}

.middleSection:nth-child(even) {
	flex-direction: row-reverse;
}

.drink-span {
	font-family: 'Magneto', sans-serif;
}

.animation {
	height: 20px;
}

/*--------------------------------*/

.bottomSection {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100vw;
	overflow: hidden;
}

.formContainer {
	position: absolute;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}

form {
	position: absolute;
	z-index: 1000;
	background: rgba(255, 255, 255, 0.9);
	padding: 1.7rem;
	display: flex;
	flex-direction: column;
	border-radius: 2%;
}

form * {
	padding: 0.1em;
}

.formTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*--------------------------------*/

@media screen and (max-width: 720px) {

	section {
		height: 100vh;
		width: 100%;
	}

	section img {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
	}

	.middleSection,
	.middleSection:nth-child(even) {
		flex-direction: column-reverse;
	}

	.middleSection div {
		width: 60%;
		margin-bottom: 0;
	}

	.middleSection h3 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.specialties-header {
		margin-top: 8vh;
	}

	.drink-span {
		font-size: 15px;
	}

	.animation {
		margin: 6vh;
	}

	.middleSection p {
		font-size: 15px;
	}

	.middleSection img {
		width: 60vw;
		height: auto;
		max-width: 100vw;
		
	}

	/* ----- FORM ------ */
	
	.bottomSection {
		flex-direction: column-reverse;
		height: auto;
	}
	
	.formContainer {
		transform: none;
		position: inherit;
	
	}

	form {
		position: inherit;
		z-index: inherit;

	}
}

/*--------------------------------*/

@media screen and (max-width: 1050px) and (min-width: 721px) {
	.topSection img {
		height: 100vh;
		width: auto;
		overflow: hidden;
	}

}