nav {
	width: 100%;
	position: sticky;
	z-index: 10;
	top: 0;
	color: white;
	font-weight: bolder;
	background-color: #151515;
	max-height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav span {
	font-size: 18px;
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.2s ease;
	transition-delay: 0.25s;
	margin: 1em;
	padding-bottom: 0.3em;
}

nav span#Home {
	margin-left: 2vw;
}

nav span:hover {
	cursor: pointer;
	border-bottom: 1px solid white;
}

nav span:hover i {
	color: gold;
}

nav span.activeClass i {
	color: gold;
}

nav span.activeClass {
	border-bottom-color: var(--lightAccent);
}

.logo {
	padding-right: 5vw;
	margin: 0;
}

.logo h3 {
	font-size: x-large;
	font-weight: 100;
	line-height: 0;
}

.logo p {
	font-family: 'Magneto', sans-serif;
	font-size: large;
	line-height: 0;
	margin-left: 40%;
} 

/*------------------------------------*/

@media screen and (max-width: 720px) {
	nav {
		font-weight: lighter;
		font-size: small;
	}
	
	nav span {
		font-size: 15px;
		padding-bottom: 0.2em;
		padding-left: 3vw;
		margin: 0;
	}
	
	nav span#Home {
		padding-left: 0.2vw;
	}
	
	.logo h3 {
		font-size: 12px;
	}
	
	.logo p {
		font-size: 10px;
		margin-left: 20%;
	} 
}